*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utils */
#wrapper{
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
}

.font-size-15{
    font-size: 15px;
}

.inline-list{
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.style-type-none{
    list-style-type: none;
}

.border-black{
    border: 1px solid black;
}

/* inizio header */
header{
    width: 100%;
    height: 50px;
}

.mobile-logo{
    display: none;
}
/* fine header */

/* inizio sidebar */
#sidebar{
    width: 100px;
    height: 100%;
    background-color: #051E34;
}
/* fine sidebar */

/* inizio main */
main{
    width: calc(100vw - 100px);
}

#main-top{
    background-color: #1B72E8;
}

#plus{
    display: none;
}

#main-container{
    height: calc(100% - 100px);
}
/* fine main */

/* media query */
/* mobile first */
@media screen and (max-width: 992px){
    .mobile-logo{
        display: block;
    }

    .logo{
        display: none;
    }
    
    #sidebar{
        width: 50px;
    }

    
    .inline-list .fa-list, .inline-list .fa-circle-question, .inline-list .fa-ellipsis-vertical{
        display: none;
    }
    
    #sidebar span{
        display: none;
    
    }
    main{
        width: calc(100vw - 50px);
    }

    #plus{
        display: block;
    }

    #mobile-app, #web-app, #blog-app{
        display: none;
    }

    
}