*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* utils */
#wrapper{
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
}

.font-size-15{
    font-size: 15px;
}

.inline-list{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
    padding-left: 0;
}

.style-type-none{
    list-style-type: none;
}

.background-lightgrey{
    background-color: lightgrey;
}

.border-black{
    border: 1px solid black;
}

.color-orange{
    color:#FF8F00
}

/* inizio header */
header{
    width: 100%;
    height: 50px;
}

.mobile-logo{
    height: 50px;
}
/* fine header */

/* inizio sidebar */
#sidebar{
    width: 50px;
    height: 100%;
    background-color: #051E34;
}
/* fine sidebar */

/* inizio main */
main{
    width: calc(100vw - 50px);
    overflow-y: auto;
}

#main-top{
    background-color: #1B72E8;
}

#plus{
    display: none;
}

#main-container{
    height: calc(100% - 100px);
}

.table td:nth-of-type(2), .table th:nth-of-type(2){
    display: none;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

table img{
    width: 25px;
}
/* fine main */

/* media query */
@media screen and (min-width: 768px){   
    #sidebar{
        width: 100px;
    }

    .table td:nth-of-type(2), .table th:nth-of-type(2){
        display: table-cell;
    }

    .offcanvas.offcanvas-end{
        width: 50%;
    }

    main{
        width: calc(100vw - 100px);
    }
}